:root {
    /*Font */
--font-family: 'Roboto', sans-serif;
--font-family-logo: 'Raleway', sans-serif;

    /* Colors */
    --main-light: #FFFFFF;
    --main-dark: #000000;
    --main-color: #757575;
    --secendary-color: #212121;
    --accent-color: #2196F3;
    
    --color-nav: #ECECEC;
    --background-dark: #2F303A;
    --background-accent: #F5F4FA;
}


/* body */
body {
    font-family: var(--font-family);
    color: var(--main-color);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.link {
    text-decoration: none;
    font-family: inherit;
}

.link:hover {
    color: var(--accent-color);
}


.list {
    list-style: none;
}
 

.button {
    border: none;
    background-color: var(--accent-color);
    color: var(--main-light);

    cursor: pointer;
}


.section {
    background-color: var(--main-light);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    color: var(--secendary-color);

    line-height: 1.17;
}

/* header */

.header {
    background-color: var(--background-accent);
}

.logo {
    font-family: var(--font-family-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
} 

.accent {
    color: var(--accent-color);
}

.nav-list {
    padding-left: 0;
}

.nav-link {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;

color: var(--secendary-color);
}

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    
    color: var(--main-color);
}

.hero {
color: var(--main-light);
background-color: var(--background-dark);
text-align: center;
text-transform: uppercase;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;  
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
/* display: flex; */
    align-items: center;
    text-align: center;
}